* {
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.05rem;
}

a {
    text-decoration: none;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    padding: 1% 0%;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    width: 75%;
}

.nav-right-links {
    width: 50%;
}

.nav-right-links a {
    display: inline-block;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-right: 7%;
    font-size: large;
}

#login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1e50e;
    padding: 5% 10%;
    border-radius: 15%;
    border: transparent;
}

/* main section ---------------------------------- */

.main-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    margin-top: 10%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-section-left {
    width: 40%;
}

.main-section-right {
    width: 45%;
    opacity: 70%;
}

.main-section-heading {
    font-weight: 900;
    margin-bottom: 5%;
}

.main-section-para {
    font-weight: 600;
    font-size: large;
}

@media (max-width: 1200px) {
    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-section-left {
        width: 100%;
        text-align: center;
    }
    .main-section-right {
        width: 100%;
        text-align: left;
    }
    .blockchain-img {
        width: 40%;
    }
}
